{{ define "main" }}
  <div class="terms">
    <h1>{{ .Title }}</h1>
    {{if eq (len $.Site.Taxonomies.tags) 0}}
        Nothing to see here, yet 
    {{else}}
    <ul class="terms-list">
      {{ $type := .Type }}
      {{ range $.Site.Taxonomies.tags.ByCount }}
        {{ $name := .Name }}
        {{ $count := .Count }}
        {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
          <li class="terms-term">
            <a href="{{ .Permalink }}">
              {{ $name }} 
              <span class="terms-term-count">
                {{ $count }}
              </span>
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{end}}
  </div>
{{ end }}